@font-face
  font-family: "Fira Sans Light"
  src: url("../fonts/FiraSans-Light.otf")

body
  background-color: #EDF2F4
  height: auto
  display: flex
  min-height: 100vh
  flex-direction: column

.container
  display: flex
  flex: 1 0 auto
  justify-content: center
  align-items: center
  background-color: #EDF2F4
  padding-top: 50px
  padding-bottom: 50px
  height: auto

.studentBookingContainer
  background-color: #EDF2F4
  padding-top: 50px
  height: auto

.wrapper
  display: flex
  justify-content: center
  align-items: center
  width: 800px

.loginForm
  width: 300px

.registrationForm
  width: 500px
  @media screen and (max-width: 480px)
    width: 300px

.title
  padding-top: 10px
  @media screen and (max-width: 480px)
    font-size: 0.8em

.sidenav, .toolbar
  background-color: #595959
  font-family: "Fira Sans Light"

.devices,
.confirmation
  width: 800px
  @media screen and (max-width: 640px)
    width: auto

.studentDetailsUpdate
  width: 800px
  @media screen and (max-width: 640px)
    width: auto
    .header
      font-size: 0.9em
      padding: 0 20px 0 20px

ul li a
  color: #4C5C68

.studentForm
  width: 400px