@font-face
  font-family: "Fira Sans Light"
  src: url("../fonts/FiraSans-Light.otf")

body
  background-color: #EDF2F4

.container
  display: flex
  justify-content: center
  align-items: center
  background-color: #EDF2F4
  padding-top: 50px

.wrapper
  display: flex
  justify-content: center
  align-items: center
  width: 800px

.loginForm
  width: 300px

.registrationForm
  width: 500px
  @media screen and (max-width: 480px)
    width: 300px

.title
  padding-top: 10px
  @media screen and (max-width: 480px)
    font-size: 0.8em

.sidenav,
.toolbar
  background-color: #595959
  font-family: "Fira Sans Light"

.devices,
.confirmation,
.studentDetailsUpdate
  width: 800px
  @media screen and (max-width: 640px)
    width: auto


ul li a
  color: #4C5C68

