<md-content ng-show="isDataLoaded" class="md-padding studentBookingContainer" layout="row" layout-wrap>
    <md-card>
        <md-content class="md-padding" flex>


            <md-toolbar class="md-padding" layout="row" layout-align="space-between center">

                    <h3>Bookings</h3>

                    <md-button ng-href="http://localhost/yoobee-hardware-booking-app/home/#/devices"
                               class='md-button md-raised md-warn' ng-click="beginBooking();"> New Booking
                    </md-button>

            </md-toolbar>

            <md-card-content>

                <md-content layout="row" layout-padding>

                    <table datatable="ng" class="row-border hover">
                        <thead>
                        <tr>
                            <th> Booking ID</th>
                            <th> Created On</th>
                            <th> Start Date</th>
                            <th> End Date</th>
                            <th> Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="booking in bookings">
                            <td> {{ booking.booking_id }}</td>
                            <td> {{ booking.date_created }}</td>
                            <td> {{ booking.start_date }}</td>
                            <td> {{ booking.end_date }}</td>
                            <td> {{ booking.status }}</td>
                            <td>
                                <md-button>
                                    <md-icon md-svg-src="../app/icons/ic_mode_edit_black_24px.svg"
                                             ng-click="editConfirm(booking.booking_id)">
                                    </md-icon>
                                </md-button>
                            </td>
                            <td>
                                <md-button>
                                    <md-icon md-svg-src="../app/icons/ic_delete_black_24px.svg"
                                             ng-click="deleteConfirm(booking.booking_id)"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-content>

            </md-card-content>
        </md-content>
    </md-card>
</md-content>
