body {
  background-color: mediumpurple; }

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
}

.fc-event.booked {
  line-height: 3.5em;
  text-align: center;
  border-radius: 50px;
  width: 40px;
  margin: 0 auto;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
