@font-face {
  font-family: "Fira Sans Light";
  src: url("../fonts/FiraSans-Light.otf"); }

body {
  background-color: #EDF2F4; }

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #EDF2F4; }

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 800px; }

.loginForm {
  width: 300px; }

.registrationForm {
  width: 500px; }

.title {
  padding-top: 10px; }

.toolbar {
  background-color: #595959;
  font-family: "Fira Sans Light"; }
