<md-content class="md-padding container" layout="row" layout-wrap>
    <md-card>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Your Details">
                    <md-content class="md-padding">
                        <h3 class="md-display-1">Your can view, update or delete your previous orders here </h3>

                        <md-content layout="column" layout-padding ng-cloak>
                            <form>

                                <md-input-container class="md-block">
                                    <label for="username">User Name</label>
                                    <input type="text" id="username" ng-model="student.username">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label for="password">Password</label>
                                    <input type="text" id="password" ng-model="student.password">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label for="fullname">Full Name</label>
                                    <input type="text" id="fullname" ng-model="student.fullname">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label for="address">Address</label>
                                    <input type="text" id="address" ng-model="student.address">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label for="phone">Telephone</label>
                                    <input type="text" id="phone" ng-model="student.phone">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" ng-model="student.email">
                                </md-input-container>

                                <md-button class="md-primary">
                                    Clear
                                </md-button>
                                <md-button class="md-warn">
                                    Save
                                </md-button>
                            </form>
                        </md-content>

                    </md-content>
                </md-tab>
                <md-tab label="Booking History">
                    <md-content class="md-padding">
                        <h3 class="md-display-1">Your can view, update or delete your details here</h3>

                        <md-content layout="column" layout-padding ng-cloak>
                            <form>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Devices</label>
                                    <md-select ng-model="student.devices">
                                        <md-option value="">
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <div class="md-block" layout-gt-sm="row">
                                    <md-datepicker class="md-block" ng-model="student.startDate"
                                                   md-placeholder="Start Date"></md-datepicker>
                                    <md-datepicker class="md-block" ng-model="student.endDate"
                                                   md-placeholder="EndDate"></md-datepicker>
                                </div>

                                <md-button class="md-primary">
                                    Clear
                                </md-button>
                                <md-button class="md-warn">
                                    Save
                                </md-button>
                            </form>
                        </md-content>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-card>
</md-content>
